<h1 id="holtzman">Holtzman</h1>
<p>Holtzman is a simple templating engine for Python.</p>
<h2 id="installation">Installation</h2>
<p>Holtzman can be installed using pip</p>
<blockquote>
<p>pip install holtzman</p>
</blockquote>
<h2 id="usage">Usage</h2>
<p>The main Template class is imported from holtzman.template. The constructor excepts a Stream object that supports a read method.</p>
<p>The Template.from_string and Template.from_file static methods will compile a template from a string and a file name respectively.</p>
<p>Examples:</p>
<blockquote>
<p>from holtzman.template import Template</p>
<p>string_template = Template.from_string('hello world')</p>
<p>file_template = Template.from_file('template.hz')</p>
</blockquote>
<p>A compiled template can then be rendered by calling the render method and passing in the required variables, e.g.</p>
<blockquote>
<p>string_template.render({ 'variable': 'hello_world' })</p>
</blockquote>
<p>The variables parameter can be a dict or object. If it's a dict the variable names in the template will be used as keys for the dict to find the required values, if an object is passed then holtzman will look for properties that match the variable names in the template. Any combination of dicts and objects may be used in nested variables.</p>
<h3 id="templates">Templates</h3>
<p>Templates support variable substituion, conditions and for loops.</p>
<h4 id="variable-substitution">Variable Substitution</h4>
<p>Variables can be embedded in templates using the following format:</p>
<blockquote>
<p>{{ variable_name }}</p>
</blockquote>
<p>Nested variables can be embedded:</p>
<blockquote>
<p>{{ parent.child }}</p>
</blockquote>
<h4 id="if-conditions">If conditions</h4>
<p>If conditions are used as follows:</p>
<blockquote>
<dl>
<dt>{% if variable %}</dt>
<dd><p>this is rendered if variable is true</p>
</dd>
</dl>
<p>{% end %}</p>
</blockquote>
<h4 id="for-loops">For loops</h4>
<p>For loops work as follows:</p>
<blockquote>
<dl>
<dt>{% for variable in list %}</dt>
<dd><p>{{ variable }}</p>
</dd>
</dl>
<p>{% end %}</p>
</blockquote>
<p>For loops and if conditions can be nested arbitrarily, e.g:</p>
<blockquote>
<dl>
<dt>{% for parent in parent_list %}</dt>
<dd><dl>
<dt>{% for child in child_list %}</dt>
<dd><p>{{ parent }} : {{ child }}</p>
</dd>
</dl>
<p>{% end %}</p>
</dd>
</dl>
<p>{% end %}</p>
</blockquote>
